nav{
    background-color: #137D17;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .main_header{
    display: flex;
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    color: #C2F3BE;
    text-decoration: none;
}